# Dependencies
node_modules
.pnpm-store
pnpm-lock.yaml

# Build output
dist
build
*.tsbuildinfo

# Coverage reports
coverage

# Environment files
.env
.env.*

# IDE
.vscode
.idea

# Misc
.DS_Store
*.log

# Package manager
.npmrc 
